<meta charset="utf-8" />
  <title><%= locals.title %></title>
  <link href="/public/styles/reset.css" rel="stylesheet" type="text/css" />
  <link href="/public/styles/index/style.css" rel="stylesheet" type="text/css" />